.boutton {
   position: relative;
   top: 150px;
}

.boutton1 {
   position: relative;
   top: 20px;
}

.btnlog {
   position: relative;
   top: 100px;
   left: 40px;
}

.btnup {
   position: relative;
   top: 50px;
   left: 40px;
}

.btnesc {
   position: relative;
   right: 348px;
   top: 312px;
}

.btnesc2 {
   position: relative;
   right: 330px;
   top: 250px;
}

.btn-envoi {
   position: relative;
   right: 60px;
   top: 20px;
}

.btn-reception {
   position: relative;
   left: 60px;
   top: 20px;
   width: 220.98px;
}

.btn-recherche {
   position: relative;
   width: 220.98px;
   top: 80px;
   
}

.btn-ajout-courrier {
   position: relative;
   top: 180px;
   right: 180px;
}

.btn-quitter1 {
   position: relative;
   top: 180px;
   left: 70px;
   width: 220.98px;
}

.btn-quitter {
   position: relative;
   top: 130px;
   width: 220.98px;
}

.recherche {
   justify-content: center;
}

.carde {
   position: relative;
   height: 50rem;
   align-items: center;
   text-align: center;
   left: 550px;
   top: 60px;
   border-radius: 15px;
   -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(100px) grayscale(0.5) opacity(0.8);
   background-color: rgba(255, 255, 255, 0.2);
   ;
}

.divimage {
   position: relative;
   bottom: 73px;
}

.Image {
   position: relative;
   top: 206px;
   left: 210px;
   width: 400px;
   margin: auto;
}

.Image2 {
   position: relative;
   top: 172px;
   left: 151px;
   width: 400px;
   margin: auto;
}

.Image3 {
   position: relative;
   top: 104px;
   left: 76px;
   width: 400px;
}

.Image4 {
   position: relative;
   top: 216px;
   left: 210px;
   width: 400px;
}

.logo-email {
   position: relative;
   bottom: 255px;
   right: 90px;
   width: 40px;
}

.logo-password {
   position: relative;
   bottom: 185px;
   right: 150px;
   width: 70px;
}

.logo-email1 {
   position: relative;
   bottom: 255px;
   right: 30px;
   width: 40px;
}

.logo-password1 {
   position: relative;
   bottom: 186px;
   right: 92px;
   width: 70px;
}

.logo-password2{
   position: relative;
   bottom: 260px;
   right: 684px;
   width: 70px;
}

.logo-user {
   position: relative;
   bottom: 330px;
   right: 166px;
   width: 70px;
}

.logo-user1 {
   position: relative;
   bottom: 405px;
   right: 240px;
   width: 70px;
}

.titre {
   position: relative;
   font-size: 50px;
}

.titre1 {
   position: relative;
   top: 50px;
   font-size: 50px;
}

.titre2 {
   position: relative;
   top: 30px;
   font-size: 50px;
}

.titre3 {
   font-size: 50px;
   position: relative;
   top: 70px;
}

.titre4 {
   font-size: 40px;
   position: relative;
   right: 190px;
}

h1 {
   font-family: Impact, fantasy;
}

.paragraphe1 {
   position: relative;
   top: 280px;
   font-size: 30px;
}

.paragraphe2 {
   position: relative;
   top: 280px;
   font-size: 30px;
}

.container {
   position: relative;
   top: 40px;
}

.container2 {
   position: relative;
   bottom: 40px;
}

.contact {
   position: relative;
   font-size: x-small;
   top: 470px;
   text-align: justify;
   right: 100px;
   left: 10px;
}

.contact1 {
   position: relative;
   font-size: x-small;
   top: 576px;
   text-align: justify;
   right: 100px;
   left: 10px;
}

.email1 {
   height: 50px;
   border-radius: 15px;
   -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(100px) grayscale(0.5) opacity(0.8);
   background-color: rgba(116, 116, 116, 0.301);
   text-align: center;
}

.email1::placeholder {
   position: relative;
   right: 190px;
}

.mdp1 {
   height: 50px;
   border-radius: 15px;
   -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(100px) grayscale(0.5) opacity(0.8);
   background-color: rgba(116, 116, 116, 0.301);
   text-align: center;
}

.mdp1::placeholder {
   position: relative;
   right: 190px;
}

.name {
   height: 50px;
   border-radius: 15px;
   -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(100px) grayscale(0.5) opacity(0.8);
   background-color: rgba(116, 116, 116, 0.301);
   text-align: center;
}

.name::placeholder {
   position: relative;
   right: 225px;
}

.firstname {
   height: 50px;
   border-radius: 15px;
   -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(100px) grayscale(0.5) opacity(0.8);
   background-color: rgba(116, 116, 116, 0.301);
   text-align: center;
}

.firstname::placeholder {
   position: relative;
   right: 212px;
}

.email2 {
   height: 50px;
   border-radius: 15px;
   -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(100px) grayscale(0.5) opacity(0.8);
   background-color: rgba(116, 116, 116, 0.301);
   text-align: center;
}

.email2::placeholder {
   position: relative;
   right: 195px;
}

.mdp2 {
   height: 50px;
   border-radius: 15px;
   -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(100px) grayscale(0.5) opacity(0.8);
   background-color: rgba(116, 116, 116, 0.301);
   text-align: center;
}

.mdp2::placeholder {
   position: relative;
   right: 190px;
}

.date-envoi {
   width: 160px;
   position: relative;
   right: 13px;
   border-radius: 15px;
   -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(100px) grayscale(0.5) opacity(0.8);
   background-color: rgba(116, 116, 116, 0.301);
}

.datenvoi {
   position: relative;
   right: 15px;
}

.email3 {
   width: 330px;
   position: relative;
   top: 10px;
   right: 13px;
   border-radius: 15px;
   -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(100px) grayscale(0.5) opacity(0.8);
   background-color: rgba(116, 116, 116, 0.301);
}

.destinataire {
   position: relative;
   top: 10px;
   right: 18px;
}

.destinataire1 {
   position: relative;
   top: 10px;
   right: 24px;
}

.nature {
   width: 330px;
   position: relative;
   top: 20px;
   right: 13px;
   border-radius: 15px;
   -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(100px) grayscale(0.5) opacity(0.8);
   background-color: rgba(116, 116, 116, 0.301);
}

.naturela {
   position: relative ;
   top: 22px;
   right: 36px;
}

.naturela1 {
   position: relative ;
   top: 22px;
   right: 39px;
}

.fichier {
   width: 330px;
   position: relative;
   left: 120px;
   border-radius: 15px;
   -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(100px) grayscale(0.5) opacity(0.8);
   background-color: rgba(116, 116, 116, 0.301);
}

.piece {
   position: relative;
   top: 40px;
   right: 332px;
}

.piece1 {
   position: relative;
   top: 40px;
   right: 345px;
}

.mode-envoi {
   width: 330px;
   position: relative;
   left: 120px;
   border-radius: 15px;
   -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(100px) grayscale(0.5) opacity(0.8);
   background-color: rgba(116, 116, 116, 0.301);
}

.modenvoi {
   position: relative;
   right: 340px;
   bottom: 30px;
}

.modrecep {
   position: relative;
   right: 336px;
   bottom: 30px;
}

.Commentaire {
   width: 420px;
   position: relative;
   left: 120px;
   bottom: 90px;
   border-radius: 15px;
   -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(100px) grayscale(0.5) opacity(0.8);
   background-color: rgba(116, 116, 116, 0.301);
}

.commentaire {
   position: relative;
   bottom: 100px;
   right: 346px;
}

.enregistre-par {
   width: 330px;
   position: relative;
   bottom: 265px;
   left: 440px;
   border-radius: 15px;
   -webkit-backdrop-filter: blur(15px);
   backdrop-filter: blur(100px) grayscale(0.5) opacity(0.8);
   background-color: rgba(116, 116, 116, 0.301);
}

.enregistre {
   position: relative;
   bottom: 305px;
   left: 240px;
}

.formulaire {
   position: relative;
   top: 50px;
}